<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated My -->
      <package
            uri="http://www.eclipse.org/mdt/ocl/oclinecore/tutorial"
            class="tutorial.TutorialPackage"
            genModel="model/My.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Juri -->
      <package
            uri="http://www.eclipse.org/jj"
            class="Juri.JuriPackage"
            genModel="model/Juri.genmodel"/>
   </extension>

</plugin>
